<header>
    <div class="title">
        <a href="/">求知欲与装逼欲并发</a>
    </div>
    <div class="tab">
        <div class="tabChild tab1 work">
            <strong>WORK</strong>
        </div>
        <div class="tabChild tab2 blog">
            <strong>BLOG</strong>
        </div>
        <div class="tabChild tab3 about">
            <strong>ABOUT</strong>
        </div>
    </div>
</header>