<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
</head>

<body>
<header>
    <h1>stay hungry,stay foolish</h1>
</header>
<div id="tags" class="container">
    <div class="tag tag1" onclick="location.href = '/work'">
        <a href="#">
            <strong>
                WORK
            </strong>
        </a>
    </div>
    <div class="tag tag2" onclick="location.href = '/blog'">
        <a href="#">
            <strong>
                BLOG
            </strong>
        </a>
    </div>
    <div class="tag tag3" onclick="location.href = '/about'">
        <a href="#">
            <strong>
                ABOUT
            </strong>
        </a>
    </div>
</div>
<script type="text/javascript" src="lib/jquery-2.2.2.min.js"></script>
<script>
    $(function () {
        setTimeout(function () {
            $("header").css({"transform": "scale(1)", "transition": "1s"});
            $(".tag").css({transform: "translateY(0)"});
        }, 0);
    });
</script>
</body>

</html>