* {
  padding: 0;
  margin: 0;
}

a {
    text-decoration:none !important;
    outline:none;
}

a:hover, a:active {
    outline: none;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}